<% if signed_in? %>
  <div class="row">
    <aside class="span3">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
    <aside class="span7">
      <h3>Calendar Feed</h3>
      <section>
        <%= render 'shared/calendar_form' %>
      </section>
      <section>
        <%= render 'shared/feed' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Cron it</h1>

    <h2>
      This is a trial application.
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>