<% if @businesses.any? %>
  <h3>Businesses (<%= @businesses.count %>)</h3>
  <section class="business">
    <%= render @businesses %>
  </section>
  <section class="businesses-products">
  	<%= render partial: 'products/list_products_for_schedule', collection: @businesses, as: :business %>
  </section>
<% end %>

Delivery?<br/>

<%= render 'calendars/form' %>