<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span3">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <aside class="span7">
    <section>
      <h3>Create your Schedule</h3>
      <%= render 'users/schedule' %>
    </section>
  </aside>
</div>