<div class='fields'>
  	Command
	<div class="remove_link"><%= link_to_remove_fields "remove", f %></div>
  	<div class="field">
		<%= f.text_field :command,  placeholder: "eg. send email, send sms, call someone" %><br />
	</div>
</div>