<li id="<%= action_item.id %>">
  <span class="subtitle">Action <%= action_item.id %> </span>
  <div class="show-field">
	  <span class="content-label">Command:</span>
	  <span class="content"><%= action_item.command %> </span>
  </div>
</li>