<li id="<%= calendar_item_item.id %>">
  <span class="subtitle">Calendar Item <%= calendar_item_item.id %> </span>
  <div class="show-field">
  	<span class="content-label">Execution date:</span>
	<span class="content"><%= calendar_item_item.execution_date.to_formatted_s(:long_ordinal) %> </span>
  </div>
</li>