<li id="<%= calendar_item_item.id %>">
  <span class="content"><%= calendar_item_item.id %> </span>
  Execution date:
  <span class="execution_date"><%= calendar_item_item.execution_date %> </span>
  </span>
</li>