<li id="<%= product.id %>">
  <span class="subtitle">Product <%= product.product_id %> </span>
  <div class="show-field">
	  <span class="content-label">Quantity:</span>
	  <span class="content"><%= product.quantity %> </span>
  </div>
  <div class="show-field">
	  <span class="content-label">Price:</span>
	  <span class="content"><%= product.product.price %> </span>
  </div>
</li>