<li id="<%= product.id %>">
  <div class="counter"></div>
  <div class="show-field">
    <span class="content"><%= product.name %></span>
  </div>
  <div class="show-image">
    <img src="<%= product.picture_url %>"/>
  </div>
  <div class="show-field">
    <span class="content"><%= product.price %> </span>
  </div>
</li>